.header {
  width: 100%;
  padding: 10px;
  display: inline-flex;
  gap: 15px;
  text-transform: uppercase;
  justify-content: center;
  background-color: rgb(73, 62, 85);

  .link {
    transition: all 0.15s;
    color: white;
    cursor: pointer;

    &:hover {
      color: rgba(216, 216, 216, 0.881);
    }
  }
}

